@import "tailwindcss";

/* Ria 폰트 */
@font-face {
  font-family: "Ria";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@theme {
  /* ===== 다크 모드 (default) ===== */
  --color-bg: #222225;
  --color-sidebar: #151517;
  --color-sidebar-2: #262628;
  --color-primary: #51be56;
  --color-text: #e5e5e6;
  --color-muted: #94959a;
  --color-border: #28282a;
  --danger: #ff6b6b;
  --success: #7ad69f;

  /* ===== 로고 폰트 ===== */
  --font-logo: "Ria";
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  font-family: "Pretendard", system-ui, sans-serif;
}

input {
  all: unset;
}
